---
asset_allocations:
  - {asset: btc, allocation: 50}
  - {asset: eth, allocation: 25}
  - {asset: doge, allocation: 25}

# Turn on debug features
debug_mode: false
# Set number of decimal places, used only for display (not calculations
floating_precision: 2
 
# Here be dragons! Feature flags for experimental cruft.
experimental:
  net_worth_mode: false
  okay_to_sell: true # Must be true for now
